PORT=5001
MONGODB_URI=
JWT_SECRET=
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:5001/api
